<div style="padding:30px;">
  <%= form_for @user, url:{action:'update_password'}, method:'post' do |f| -%>
    <%= f.label :password, "New Password" %><br>
    <%= f.password_field :password %><br><br>
    <%= f.label :password_confirmation, "Confirm New Password" %><br>
    <%= f.password_field :password_confirmation %><br><br>
    <%= f.submit "Change Password", :disable_with => 'processing...', class:"btn btn-primary" %>
  <% end %>
  <%= link_to "Cancel", portal_users_profile_path, class:"btn btn-inverse" %>
</div>