<h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div>
  	<%= f.label :school_id, "School Name" %>
  	<%= f.collection_select :school_id, School.all, :id, :name, prompt:"select"  %>
  </div>

  <div>
	  <%= f.label :scheme_id, "Scheme" %>
	  <%= f.collection_select :scheme_id, Scheme.all, :id, :name, prompt:" select"  %>
  </div>

  <div>
    <%= f.label :year, "Year" %>
    <%= f.select :year, [["First", "frist"], ["Second", "second"]] %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
