<div class="row">
    <div class="span11 content">
      <h2>Messages</h2>
    </div>
    <div class="span10">
      <ul class="span3 not-btns">
        <li id="compose"> <%= link_to "Compose", action: "new", remote: true  %></li>
        <li id="inbox" class="active"> <%= link_to "Inbox", action: "index", remote: true  %></li>
        <li id="sent"> <%= link_to "Sent", action: "sent", remote: true  %></li>
      </ul>
    </div>

    <div class="content span9 spinner center hide">
      <%= image_tag 'ajax-small.gif' %>
    </div> 
    
    <div id = "side_bar">
      <%= render 'side_bar' %>
    </div>

    
    <div id= "render_message">
      <%= render 'index' %>
    </div>
    