<% if can? :create, Institution %>
	<%= link_to "Add New", new_portal_institution_path, class:"btn btn-primary" %>
<%end%>	
<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
	<thead>
		<th> Name </th>
		<th> Address </th>
		<th> Area </th>
		<th> City </th>
		<th> Actions </th>
	</thead>

	<tbody>
		<% @institutions.each do |institution| %>
		<tr>	
			<td> <%= institution.name %>  </td>
			<td> <%= institution.address %>  </td>
			<td> <%= institution.area %>  </td>
			<td> <%= institution.city %>  </td> 
			<td>
				<% if can? :read, Institution	%>
			 		<%=  link_to "View", portal_institution_path(id:institution.id) %> |
			 	<%end%>  
			 	<% if can? :update, Institution %>
			 		<%=link_to "Edit", edit_portal_institution_path(id:institution.id) %> |
			 	<%end%>
			 	<% if can? :destroy, Institution %>
					<%= link_to "Delete", portal_institution_path(institution), method:'delete',data: { confirm: 'Are you sure? Changes cant be reverted!!!'} %>
			 	<%end%>
			 </td>
		</tr>
	<%end%>	
	</tbody>
</table>