<div class = "question_set">
	<%= @question_set.name %>
	<% @question_set.question_papers.each do |q| %>
		<br>
		<li><%= q.name %></li>
	<%end%>
</div>

<div class = "question_list">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
		<thead>
			<th> Question Paper </th>
			<th> Action </th>
		</thead>

		<tbody>
			<%= form_for [:portal,@question_set], url:{action:'submit_question_paper'}, method:'post' do |f| -%>
				<% @question_papers.each_with_index do |question_paper,index| %>
					<tr>
						<td><%= question_paper.name %></td>
							<% checked = true if @question_set.question_papers.include? question_paper %>
						<td><%= check_box_tag "question_set[question_paper_ids][]", "#{question_paper.id}", checked, :id => "question_paper_id_#{index+1}"  %></td>
					</tr>
				<%end%>
					<tr>
						<td><%= f.submit "Submit", :disable_with => 'Submiting...' %></td>
					</tr>
			<%end%>
		</tbody>
	</table>
</div>