<div>	
	<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">

		<thead>
			<th> Name </th>
			<th> Description</th>
			<th> Stream</th>

			
		</thead>

		<tbody>
			<tr>
				<td><%= @subject.name%></td>
				<td> <%= @subject.try(:description) %> </td>
				<td>
					<% @subject.scheme.each do |scheme| %>
						<li><%= scheme.name %></li>
					<%end%>		
				</td>
			</tr>
		</tbody>
	</table>
	<% if can? :update, Subject %>
		<%= link_to "Edit", edit_portal_subject_path(id:@subject.id), class:"btn btn-primary" %>
	<%end%>
	<% if can? :destroy, Subject %>
		<%= link_to "Delete", portal_subject_path(@subject), method:'delete', data: { confirm: 'Are you sure? Changes cant be reverted!!!'}, class:"btn btn-danger " %>
	<%end%>
	<br> <br>
	<% if can? :read, Subject %>
		<%= link_to "Cancel", portal_subjects_path, class:'btn btn-inverse' %>
	<%end%>
</div>	